@import "./reset.scss";
@import "./variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    font-family: $mulish;
}

#root {
    height: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: $bg;
    border-radius: $borderRadius;
}

::-webkit-scrollbar-thumb {
    background: $darkGray;
    border-radius: $borderRadius;
}
