@import "./../../../../styles/variables.scss";

.table {
    width: 100%;
    border-collapse: collapse;
    // table-layout: fixed;

    &__head {
        border-radius: $borderRadius;

        &.light__mode {
            background: $lightGray;
        }
        &.dark__mode {
            background: $lightBlack2;
        }
    }

    thead tr {
        display: flex;
        text-align: left;
    }

    tbody {
        display: block;
        width: 100%;
        overflow: auto;
        height: 225px;
    }

    tbody tr {
        display: flex;
        text-align: left;
    }

    th,
    td {
        flex: 1;
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: $letterSpacing;
        line-height: 16px;
        padding: 16px 24px;
    }

    th:last-child {
        margin-right: 15px;
    }

    td {
        font-weight: 400;
    }
}

.table.light__mode {
    th,
    td {
        color: $black;
    }
    td {
        border-bottom: 1px solid $dividerLineLight;
    }
}
.table.dark__mode {
    th,
    td {
        color: $white;
    }
    td {
        border-bottom: 1px solid $dividerLine;
    }
}

// .table {
//     display: flex;
//     flex-direction: column;

//     &__head {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         padding: 16px 24px;
//         border-radius: $borderRadius;

//         &.light__mode {
//             background: $lightGray;
//         }
//         &.dark__mode {
//             background: $lightBlack2;
//         }

//         .col {
//             flex: 1;
//             &:not(:last-child) {
//                 margin-right: 32px;
//             }
//         }
//     }

//     &__data {
//         display: flex;
//         flex-direction: column;
//         padding: 16px 24px;

//         &__row {
//             display: flex;
//             justify-content: space-between;
//         }
//     }
// }
